
<!-- <div id="content">
  <div class="jumbotron">
    <h1>hello world!</h1>
  </div>
</div>


 <div class="fb-like" data-send="true" data-width="450" data-show-faces="true"></div> -->

<% @feed.each do |item| %>
<%= item %><hr>
<% end %>